* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background: #050505;
    color: white;

    font-family: sans-serif;

}


.hero {

    height: 100vh;

    padding-top: 80px;

    display: flex;

    justify-content: center;

    align-items: center;

    position: relative;

    overflow: hidden;

}


.hero-content {

    text-align: center;

    animation: fadeUp 1s ease;

    position: relative;

    z-index: 1;

    animation: heroAppear 1.2s ease;


}


@keyframes fadeUp {

    from {

        opacity: 0;
        transform: translateY(40px);

    }

    to {

        opacity: 1;
        transform: translateY(0);

    }

}


.small-title {

    color: #777;

    letter-spacing: 5px;

    font-size: 14px;

    margin-bottom: 30px;

}


h1 {

    font-size: 90px;

    font-weight: 700;

    margin-bottom: 20px;

    animation: titleGlow 3s infinite alternate;


}


h2 {

    font-size: 50px;

    line-height: 1.2;

    font-weight: 500;

    background: linear-gradient(90deg,
            #ffffff,
            #777777);

    -webkit-background-clip: text;

    color: transparent;

    margin-bottom: 30px;

}


.description {

    color: #888;

    font-size: 18px;

    margin-bottom: 40px;

}


button {

    background: white;

    color: black;

    border: none;

    padding: 15px 35px;

    border-radius: 30px;

    font-size: 16px;

    cursor: pointer;

}

.about {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #0b0b0b;

}


.about-content {

    text-align: center;

    opacity: 0;

    transform: translateY(50px);

    transition: 1s;

}


.about-content.show {

    opacity: 1;

    transform: translateY(0);

}


.project-card,
.skill-card {

    opacity: 0;

    transform: translateY(50px);

    transition: 1s;

}


.project-card.show,
.skill-card.show {

    opacity: 1;

    transform: translateY(0);

}

.about h2 {

    font-size: 60px;

    margin-bottom: 30px;

}


.about p:last-child {

    color: #aaa;

    font-size: 20px;

    line-height: 1.8;

}

.projects {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #050505;

}


.projects-content {

    width: 80%;

    text-align: center;

}


.projects h2 {

    font-size: 60px;

    margin-bottom: 50px;

}


.project-list {

    display: grid;

    grid-template-columns: repeat(2, 300px);

    gap: 30px;

    justify-content: center;

}


.project-card {

    min-height: 300px;

    display: flex;

    flex-direction: column;

    background: #111;

    border-radius: 20px;

    text-align: left;

    transition: 0.3s;

}


.project-card:hover {

    transform: translateY(-10px);

    background: #1a1a1a;

}


.project-card h3 {

    font-size: 25px;

    margin-bottom: 20px;

}


.project-card p {

    color: #999;

    line-height: 1.6;

}

.skills {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #0b0b0b;

}


.skills-content {

    width: 80%;

    text-align: center;

}


.skills h2 {

    font-size: 60px;

    margin-bottom: 50px;

}


.skill-list {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;

}


.skill-card {

    padding: 20px 40px;

    background: #111;

    border-radius: 50px;

    color: #ddd;

    border: 1px solid #222;

    transition: 0.3s;

}


.skill-card:hover {

    transform: translateY(-8px);

    background: #222;

}

html {
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}


body {

    scroll-snap-type: y mandatory;

}

.profile-image {

    width: 200px;

    height: 200px;

    animation: float 4s ease-in-out infinite;

    object-fit: cover;

    border-radius: 50%;

    margin-bottom: 30px;

}

.contact a {

    display: inline-block;

    padding: 12px 25px;

    margin: 10px;

    border-radius: 30px;

    text-decoration: none;

    justify-content: center;

    background: white;

    color: black;

}

.contact {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}


.contact-content {

    text-align: center;

}

.tags {

    margin-top: 20px;
    margin-bottom: 20px;

    color: #777;

    font-size: 14px;

}


.project-card a {

    color: white;

    text-decoration: none;

    font-size: 14px;

    margin-top: auto;


}


.project-card a:hover {

    opacity: 0.6;

}

.project-detail {

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 50px;

}


.project-detail p {

    color: #aaa;

    max-width: 700px;

    line-height: 1.8;

    margin-bottom: 40px;

}

.navbar {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    padding: 25px 60px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    z-index: 1000;

    background: rgba(5, 5, 5, 0.7);

    backdrop-filter: blur(10px);

}


.logo {

    font-size: 20px;

    font-weight: bold;

}



.nav-menu {

    display: flex;

    gap: 40px;

}


.nav-menu a {

    color: #aaa;

    text-decoration: none;

    font-size: 14px;

    letter-spacing: 2px;

    transition: 0.3s;

}


.nav-menu a:hover {

    color: white;

}

.hero::before {

    content: "";

    position: absolute;

    width: 500px;

    height: 500px;

    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.5),
            transparent 60%);

    top: 20%;

    left: 50%;

    transform: translateX(-50%);

    filter: blur(50px);

}

@keyframes heroAppear {


    from {

        opacity: 0;

        transform: translateY(40px);

    }


    to {

        opacity: 1;

        transform: translateY(0);

    }

}

@keyframes float {


    0% {

        transform: translateY(0);

    }


    50% {

        transform: translateY(-15px);

    }


    100% {

        transform: translateY(0);

    }


}

@keyframes titleGlow {


    from {

        text-shadow:0 0 0px white;

    }


    to {

        text-shadow:0 0 20px rgba(255,255,255,0.5);

    }


}

.hero::after {

    content:"";

    position:absolute;

    width:400px;

    height:400px;

    background:radial-gradient(
        circle,
        rgba(255,255,255,0.15),
        transparent 70%
    );

    bottom:-100px;

    right:10%;

    filter:blur(50px);

}