*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0b0b0b;

    color:white;

    font-family:'Pretendard',sans-serif;

}

.hero{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

.hero h1{

    font-size:72px;

    margin-bottom:20px;

}

.hero h2{

    color:#999;

    font-weight:400;

    margin-bottom:10px;

}

.hero p{

    color:#666;

    font-size:20px;

}