* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {

    background:#050505;
    color:white;

    font-family:sans-serif;

}


.hero {

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}


.hero-content {

    text-align:center;

}


.small-title {

    color:#777;

    letter-spacing:5px;

    font-size:14px;

    margin-bottom:30px;

}


h1 {

    font-size:90px;

    font-weight:700;

    margin-bottom:20px;

}


h2 {

    font-size:50px;

    line-height:1.2;

    font-weight:500;

    background:linear-gradient(
        90deg,
        #ffffff,
        #777777
    );

    -webkit-background-clip:text;

    color:transparent;

    margin-bottom:30px;

}


.description {

    color:#888;

    font-size:18px;

    margin-bottom:40px;

}


button {

    background:white;

    color:black;

    border:none;

    padding:15px 35px;

    border-radius:30px;

    font-size:16px;

    cursor:pointer;

}

.about {

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#0b0b0b;

}


.about-content {

    text-align:center;

    opacity:0;

    transform:translateY(50px);

    transition:1s;

}


.about-content.show {

    opacity:1;

    transform:translateY(0);

}


.about h2 {

    font-size:60px;

    margin-bottom:30px;

}


.about p:last-child {

    color:#aaa;

    font-size:20px;

    line-height:1.8;

}

.projects {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#050505;

}


.projects-content {

    width:80%;

    text-align:center;

}


.projects h2 {

    font-size:60px;

    margin-bottom:50px;

}


.project-list {

    display:flex;

    gap:30px;

    justify-content:center;

}


.project-card {

    width:300px;

    padding:40px;

    background:#111;

    border-radius:20px;

    text-align:left;

    transition:0.3s;

}


.project-card:hover {

    transform:translateY(-10px);

    background:#1a1a1a;

}


.project-card h3 {

    font-size:25px;

    margin-bottom:20px;

}


.project-card p {

    color:#999;

    line-height:1.6;

}